<h1>Register a new site</h1>

<%= form_for [@user, @registered_application] do |f| %>
  <% if @registered_application.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@registered_application.errors.count, "error") %>.</h4>
      <ul>
        <% @registered_application.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <%= f.label :name %>
   <%= f.text_field :name, class: 'form-control', placeholder: "Enter site's name here" %>

   <%= f.label :url %>
   <%= f.text_field :url, class: 'form-control', placeholder: "Enter site's URL here" %>

   <div class="form-group">
     <%= f.submit "Save", class: 'btn btn-success' %>
   </div>
 <% end %>
